body { margin: 0; }
canvas { display: block; }

div#info {
  font-family: courier;
  font-size: 72px; 
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}