body { margin: 0; }
canvas { display: block; }

div#info {
  font-family: courier;
  font-size: 36px; 
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}

div#info2 {
  font-family: courier;
  font-size: 36px; 
  color: #fff;
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block; 
}

div.bar-ele {
  display: inline;
  min-width: 10vw;
}

#power {
  width: 80vw;
  border: 0px;
  background-color: #222;
  color: #ff2;
  height: 2vh;
  top: -5px;
  position: relative;
}
progress#power::-moz-progress-bar { background: #ff2; }
progress#power::-webkit-progress-value { background: #ff2; }

#health {
  width: 80vw;
  border: 0px;
  background-color: #222;
  color: #2ff;
  height: 2vh;
  top: -5px;
  position: relative;
}
progress#health::-moz-progress-bar { background: #0d4; }
progress#health::-webkit-progress-value { background: #0ff; }